#nav {
    padding:10px 100px;
    font-size:14px;
    background:#12c064;
    color:#fff;
    border-bottom:4px solid #1cdf78;
    overflow:auto;
}

#nav .logo {
    font-family: 'Muli', sans-serif;
    float:left;
    color:#f3f7cc;
    font-size:20px;
    margin-right:10%;
}

#nav ul.menu {
    list-style:none;
    float:left;
    margin:0;
    padding:0;
}
#nav ul.menu li {
    float:left;
    padding:4px 10px;
}

#nav ul.menu li.selected a, #nav ul.menu li.selected a:hover {
    color:#1b6d32;
    font-weight:bold;
}

#nav a {
    color:#f3f7cc;
}
#nav a:hover {
    color:#fff;
}

#nav .user {
    float:right;
    padding-top:4px;
}

.content {
    padding:30px 100px;
}

.content img {
    height: 100px;
    width: 100px;
}